label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #333;    
    margin-right: 0;
    padding: 0;
    margin-bottom: 0;
    margin-right:0vw;
    text-align:left;
    
   }
   h3{
       margin-top:10px ;
       margin-bottom: 20px;
       color: tomato;
   }
   .tbadd{
    /* overflow: scroll; */
    height: 91vh;
   }